.encrypted {
  color: rgba(255, 255, 255, 0.3);
  transition: color 0.3s ease;
}

.revealed {
  color: rgba(255, 255, 255, 1);
  transition: color 0.3s ease;
}

.all-letters {
  display: inline-block;
  position: relative;
} 